
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$brand-color: #0e1027;
$brand-color-alt: #c70540;
$link-color: #49c5b6;